@import 'theme';

.footer {
    background-color:color(primary);
    height: 516px;
    padding: $padding;
    margin: 1em auto;
    display:flex;
    flex-direction: column;
    height:667px;
    position: relative;
    color: white;

    .footer__copyright {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .footer__logo {
        margin-top:30px;
        margin-bottom:36px;
        width:88px;
    }
    .footer___logo__img{
        width:88px;
    }
    .footer__list {
        font-size: 12px;
        margin-bottom:76px;
    }
    .footer__list--bold {
        font-size: 16px;
        font-weight: bold;
    }
    .footer__copyright {
        font-size: 12px;
    }
    p.footer__copyright {
        margin-top:44px;
    }
    .footer__list__ul {
        margin-bottom: 50px;
    }
}