@import 'theme';

header {
    height: 80px;
    padding: $padding;

    .logo{
        display:flex;
        justify-content:space-between;
        @include desktop {
            display: none;
        }
    }
    .header__nav {
        display: none; 
        @include desktop {
            display: flex;
            justify-content: space-between;
        }
    }
    .header__nav__ul {
        @include desktop {
            display: flex;
        }
    }
    .header__nav__ul li{
        @include desktop {
            margin-left: 37px;
            font-size: $h6;
            color: white;
        }
    } 
    .nav__img--mintlogo {
        width: 106px;
    }
    .logo__logo{
        width: 30px;
        background-image: url('../assets/img/mobile_home.svg');
        background-repeat: no-repeat;
        @include tablet {
        background-image: url('../assets/img/tablet_home.svg');
        background-repeat: no-repeat;
        height: 40px;
        }
    }
    .logo__menu{
        width: 30px;
    }
}

