@import 'theme';

header {
    height: 80px;
    padding: $padding;

    .logo{
        display:flex;
        justify-content:space-between;
    }
    .logo__logo{
        width: 30px;
        background-image: url('../assets/img/mobile_home.svg');
        background-repeat: no-repeat;
        // @include desktop {
        //     // background-image: url('../assets/img/logo.png');
        // }
        @include tablet {
        background-image: url('../assets/img/tablet_home.svg');
        background-repeat: no-repeat;
        height: 40px;
        }
    }
    .logo__menu{
        width: 30px;
    }
}

