body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

header {
  height: 80px;
  padding: 25px 45px 25px 45px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 1024px) {
  header .logo {
    display: none;
  }
}

header .header__nav {
  display: none;
}

@media (min-width: 1024px) {
  header .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  header .header__nav__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  header .header__nav__ul li {
    margin-left: 37px;
    font-size: 14px;
    color: white;
  }
}

header .nav__img--mintlogo {
  width: 106px;
}

header .logo__logo {
  width: 30px;
  background-image: url("../assets/img/mobile_home.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  header .logo__logo {
    background-image: url("../assets/img/tablet_home.svg");
    background-repeat: no-repeat;
    height: 40px;
  }
}

header .logo__menu {
  width: 30px;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main .section1__container {
  padding: 10px;
}

main .section1 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 587px;
}

@media (min-width: 768px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 432px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 110px;
  }
}

@media (min-width: 1024px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .section1 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

main .section1 .section1__text {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  main .section1 .section1__text {
    grid-area: section;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    margin: 1em;
  }
}

main .section1 .section1__text h1 {
  color: #484848;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h1 {
    color: #484848;
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__text h1 {
    font-size: 38px;
  }
}

main .section1 .section1__text h6 {
  color: #777777;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__text h6 {
    font-size: 1.2rem;
  }
}

main .section1 .section1__text p {
  color: white;
}

main .section1 .section1__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

main .section1 .section1__img img {
  height: 210px;
}

@media (min-width: 768px) {
  main .section1 .section1__img img {
    height: 286px;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__img img {
    height: 370px;
  }
}

@media (min-width: 1440px) {
  main .section1 .section1__img img {
    height: 370px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main h2.section2__header--h2 {
  margin-top: 18px;
  margin-left: 24px;
}

@media (min-width: 768px) {
  main h2.section2__header--h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  main h2.section2__header--h2 {
    font-size: 30px;
  }
}

main .section2 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 768px) {
  main .section2 {
    height: 472px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  main .section2 {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__headergroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__headergroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 405px;
  }
}

main .section2 .section2__img {
  margin-top: 10px;
  padding: 14px;
}

@media (min-width: 768px) {
  main .section2 .section2__img {
    margin-top: 0;
    width: 314px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__img {
    margin-top: 0;
    width: 450px;
    padding: 0;
  }
}

main .section2 .section2__text {
  margin-top: 14px;
}

@media (min-width: 768px) {
  main .section2 .section2__text {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

main .section2 .section2__text h2 {
  color: #484848;
}

@media (min-width: 768px) {
  main .section2 .section2__text h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text h2 {
    font-size: 28px;
  }
}

main .section2 .section2__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section2 .section2__text h6 {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text h6 {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__text__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text__ul {
    margin-left: 14px;
  }
}

main .section2 .dot {
  width: 67px;
  height: 67px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: -22px;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section2 .dot {
    width: 56px;
    height: 56px;
  }
}

main .section2 .section2__ul {
  display: none;
}

@media (min-width: 768px) {
  main .section2 .section2__ul {
    display: block;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul ul {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul h6 {
    color: #484848;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul p {
    color: #777777;
    margin: 0;
    font-size: 12px;
  }
}

main .section2 .section2__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  main .section2 .section2__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 258px;
    margin-top: 10px;
  }
}

main .section2 .section2__icons--icon {
  margin-top: 29px;
  width: 44px;
  line-height: 17px;
}

@media (min-width: 768px) {
  main .section2 .section2__icons--icon {
    margin: 10px 24px 26px 0;
  }
  main .section2 .section2__icons--icon .fa-3x {
    font-size: 2em;
    color: #484848;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  main .section2 .section2__icons--icon {
    margin: 0px 24px 72px 0;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__icons--icon p {
    display: none;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main h2.section3__header--h2 {
  margin-left: 28px;
  padding-right: 10px;
}

@media (min-width: 768px) {
  main h2.section3__header--h2 {
    font-size: 28px;
  }
}

main .section3 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 768px) {
  main .section3 {
    height: 512px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  main .section3 {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .section3 .section3__ul {
  margin-top: 46px;
}

@media (min-width: 768px) {
  main .section3 .section3__ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 366px;
    margin-top: 0;
  }
}

main .section3 .section3__header {
  margin-top: 20px;
}

main .section3 .section3__img {
  margin-top: 30px;
}

@media (min-width: 768px) {
  main .section3 .section3__img {
    width: 292px;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  main .section3 .section3__img {
    width: 450px;
    margin-top: 0;
  }
}

main .section3 .section3__text {
  margin-top: 15px;
  margin-left: 15px;
}

@media (min-width: 768px) {
  main .section3 .section3__text {
    margin-top: 15px;
    margin-left: 0;
  }
}

main .section3 .section3__text h2 {
  color: #484848;
}

@media (min-width: 768px) {
  main .section3 .section3__text h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  main .section3 .section3__text h2 {
    font-size: 28px;
  }
}

main .section3 .section3__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section3 .section3__text h6 {
    font-size: 14px;
    line-height: 1.4;
    margin-left: 28px;
  }
}

@media (min-width: 1024px) {
  main .section3 .section3__text h6 {
    font-size: 16px;
    line-height: 1.4;
    margin-left: 28px;
  }
}

main .section3 .section3__ul__list {
  display: none;
  font-size: 12px;
  color: #777777;
}

@media (min-width: 768px) {
  main .section3 .section3__ul__list {
    display: block;
    margin-left: 28px;
    margin-right: 12px;
  }
}

@media (min-width: 1024px) {
  main .section3 .section3__ul__list {
    display: block;
    margin-left: 28px;
    margin-right: 12px;
    margin-top: 16px;
  }
}

@media (min-width: 768px) {
  main .section3 .section3__ul__list li {
    margin-bottom: 10px;
  }
}

main .section3 .dot {
  width: 97px;
  height: 97px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: -38px;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section3 .dot {
    width: 72px;
    height: 72px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main h2.section4__header--h2 {
  margin-top: 42px;
  margin-left: 28px;
  line-height: 1.1;
  font-size: 28px;
}

@media (min-width: 768px) {
  main h2.section4__header--h2 {
    line-height: 1.3;
  }
}

@media (min-width: 1024px) {
  main h2.section4__header--h2 {
    margin-top: 0;
  }
}

main .section4 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 768px) {
  main .section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 512px;
  }
}

@media (min-width: 1024px) {
  main .section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 600px;
  }
}

main .section4 .section4__header {
  margin-top: 20px;
}

main .section4 .section4__img {
  padding: 10px;
  margin-top: 20px;
}

@media (min-width: 768px) {
  main .section4 .section4__img {
    width: 320px;
  }
}

@media (min-width: 1024px) {
  main .section4 .section4__img {
    width: 446px;
  }
}

main .section4 .section4__text {
  margin-top: 15px;
  margin-left: 15px;
  margin-bottom: 18px;
}

main .section4 .section4__text h2 {
  color: #484848;
}

main .section4 .section4__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section4 .section4__text h6 {
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 18px;
  }
}

@media (min-width: 1024px) {
  main .section4 .section4__text h6 {
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 18px;
  }
}

main .section4 .section4__ul {
  margin-top: 46px;
}

@media (min-width: 768px) {
  main .section4 .section4__ul {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 338px;
    margin-top: 28px;
  }
}

@media (min-width: 1024px) {
  main .section4 .section4__ul {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 430px;
    margin-top: 28px;
  }
}

main .section4 .section4__ul--yellowdashed {
  display: none;
}

@media (min-width: 768px) {
  main .section4 .section4__ul--yellowdashed {
    display: block;
    margin-top: 28px;
    margin-left: 28px;
  }
}

main .section4 .section4__ul__il {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section4 .section4__ul__p {
  font-size: 12px;
  margin-top: -10px;
  color: #777777;
}

@media (min-width: 1024px) {
  main .section4 .section4__ul__p {
    margin-top: -4px;
  }
}

main .section4 .dot {
  width: 68px;
  height: 68px;
  background-color: #FFDD8A;
  border-radius: 50%;
  margin-top: -40px;
  position: absolute;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section4 .dot {
    width: 52px;
    height: 52px;
    margin-top: -32px;
    margin-left: 63px;
  }
}

main .section4 span {
  background-color: #FFDD8A;
  display: inline-block;
  margin-right: 16px;
  width: 11px;
  height: 3px;
}

@media (min-width: 1024px) {
  main .section4 span {
    margin-top: 4px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main .section5 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  main .section5 {
    height: 512px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  main .section5 {
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  main .section5 .section5__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 34px;
  }
}

main .section5 .section5__img {
  padding: 24px;
}

@media (min-width: 768px) {
  main .section5 .section5__img {
    width: 570px;
    height: 226px;
  }
}

@media (min-width: 1024px) {
  main .section5 .section5__img {
    width: 740px;
    height: 300px;
  }
}

main .section5 .section5__backgroundimg {
  background: url("../assets/img/section5img.svg");
  background-repeat: no-repeat;
  height: 422px;
}

@media (min-width: 768px) {
  main .section5 .section5__backgroundimg {
    background: url("../assets/img/section5img_tablet.svg");
    background-repeat: no-repeat;
  }
}

main .section5 .section5__text {
  margin-top: 100px;
  margin-left: 66px;
  text-align: center;
  width: 50%;
}

main .section5 .section5__text h4 {
  color: #fff;
  line-height: 1.4;
}

@media (min-width: 768px) {
  main .section5 .section5__text h4 {
    font-size: 26px;
  }
}

@media (min-width: 1024px) {
  main .section5 .section5__text h4 {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  main .section5 .section5__text {
    margin-top: 0px;
    margin-left: 0px;
    width: 300px;
    margin-bottom: 8px;
  }
}

@media (min-width: 1024px) {
  main .section5 .section5__text {
    margin-top: 0px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 8px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

main h2.section6__header--h2 {
  margin-top: 53px;
  margin-left: 28px;
  font-size: 28px;
  line-height: 1.5;
}

@media (min-width: 1024px) {
  main h2.section6__header--h2 {
    margin-left: 54px;
  }
}

main .section6__ul {
  height: 210px;
}

@media (min-width: 1024px) {
  main .section6__ul {
    height: 200px;
  }
}

main .section6__ul__il {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 1024px) {
  main .section6__ul__il {
    margin-bottom: 14px;
  }
}

main .section6__ul__p {
  font-size: 12px;
  margin-top: -10px;
}

@media (min-width: 1024px) {
  main .section6__ul__p {
    color: #777777;
  }
}

main .section6 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 768px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 512px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 600px;
  }
}

@media (min-width: 768px) {
  main .section6 .section6__div {
    margin-top: -10px;
  }
}

main .section6 .section6__header {
  margin-top: -7px;
}

@media (min-width: 1024px) {
  main .section6 .section6__header {
    width: 320px;
    text-align: center;
  }
}

main .section6 span {
  background-color: #FFDD8A;
  display: inline-block;
  margin-right: 16px;
  width: 11px;
  height: 3px;
}

main .section6 .section6__img {
  margin-top: 15px;
}

@media (min-width: 1024px) {
  main .section6 .section6__img {
    margin-top: 0px;
  }
}

main .section6 .section6__img img {
  height: 148px;
  margin-left: 24px;
}

@media (min-width: 768px) {
  main .section6 .section6__img img {
    height: 206px;
    margin-top: 30px;
    margin-left: 0;
  }
}

@media (min-width: 1024px) {
  main .section6 .section6__img img {
    height: 268px;
    margin-top: 30px;
    margin-left: 0;
  }
}

main .section6 .section6__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  main .section6 .section6__text {
    margin-left: -50px;
  }
}

main .section6 .section6__text h2 {
  color: #484848;
}

main .section6 .section6__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section6 .section6__text h6 {
    color: #777777;
    line-height: 1.4;
    font-size: 14px;
    margin-bottom: 18px;
  }
}

@media (min-width: 1024px) {
  main .section6 .section6__text h6 {
    color: #777777;
    line-height: 1.4;
    font-size: 16px;
    margin-bottom: 18px;
  }
}

main .section6 .section6__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

main .section6 .section6__text .section6__ul--yellowdashed {
  margin-top: 48px;
}

@media (min-width: 768px) {
  main .section6 .section6__ul--yellowdashed {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  main .section6 .section6__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .section6 .section6_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  main .section6 .section6_button {
    margin-left: 40px;
  }
}

main .section6 .dot {
  width: 97px;
  height: 97px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section6 .dot {
    width: 97px;
    height: 97px;
    background-color: #FFDD8A;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    z-index: -1;
  }
}

@media (min-width: 1024px) {
  main .section6 .dot {
    width: 92px;
    height: 92px;
  }
}

main .section6 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 30px;
}

@media (min-width: 768px) {
  main .section6 .btn {
    margin-top: 26px;
    width: 244px;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 64px;
  }
}

@media (min-width: 1440px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2328px;
    width: 926px;
    height: 926px;
    margin-left: 276px;
  }
}

.footer {
  background-color: #55C1AE;
  height: 516px;
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
  color: white;
}

@media (min-width: 768px) {
  .footer {
    height: 215px;
  }
}

@media (min-width: 1024px) {
  .footer {
    height: 260px;
  }
}

@media (min-width: 768px) {
  .footer .footer__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

@media (min-width: 768px) {
  .footer .footer__copyright p {
    margin-top: 55px;
  }
}

@media (min-width: 1024px) {
  .footer .footer__copyright p {
    margin-top: 62px;
    font-size: 10px;
  }
}

.footer .footer__logo {
  margin-top: 30px;
  margin-bottom: 36px;
  width: 88px;
}

@media (min-width: 768px) {
  .footer .footer__logo {
    margin-top: 0;
    margin-bottom: 0;
    width: 80px;
  }
}

.footer .footer___logo__img {
  width: 88px;
}

@media (min-width: 768px) {
  .footer .footer___logo__img {
    width: 80px;
  }
}

.footer .footer__list {
  font-size: 12px;
  margin-bottom: 76px;
}

@media (min-width: 768px) {
  .footer .footer__list {
    font-size: 12px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 486px;
  }
}

.footer .footer__list--bold {
  font-size: 16px;
  font-weight: bold;
}

.footer .footer__copyright {
  font-size: 12px;
}

.footer p.footer__copyright {
  margin-top: 44px;
  width: 216px;
}

@media (min-width: 768px) {
  .footer p.footer__copyright {
    width: 100%;
  }
}

.footer .footer__list__ul {
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .footer .footer__list__ul {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=main.css.map */