body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header {
  height: 80px;
  padding: 25px 45px 25px 45px;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo__logo {
  width: 30px;
  background-image: url("../assets/img/mobile_home.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  header .logo__logo {
    background-image: url("../assets/img/tablet_home.svg");
    background-repeat: no-repeat;
    height: 40px;
  }
}

header .logo__menu {
  width: 30px;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .section1__container {
  padding: 10px;
}

main .section1 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 587px;
}

@media (min-width: 840px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 432px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .section1 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

main .section1 .section1__text {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  main .section1 .section1__text {
    grid-area: section;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    margin: 1em;
  }
}

main .section1 .section1__text h1 {
  color: #484848;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h1 {
    font-size: 2rem;
  }
}

main .section1 .section1__text h6 {
  color: #777777;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h6 {
    font-size: 0.9rem;
  }
}

main .section1 .section1__text p {
  color: white;
}

main .section1 .section1__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

main .section1 .section1__img img {
  height: 210px;
}

@media (min-width: 768px) {
  main .section1 .section1__img img {
    height: 17rem;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main h2.section2__header--h2 {
  margin-top: 18px;
  margin-left: 24px;
}

main .section2 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 840px) {
  main .section2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  main .section2 {
    height: 472px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__headergroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
  }
}

main .section2 .section2__img {
  margin-top: 10px;
  padding: 14px;
}

@media (min-width: 768px) {
  main .section2 .section2__img {
    margin-top: 0;
    width: 40%;
  }
}

main .section2 .section2__text {
  margin-top: 14px;
}

main .section2 .section2__text h2 {
  color: #484848;
}

@media (min-width: 768px) {
  main .section2 .section2__text h2 {
    font-size: 24px;
  }
}

main .section2 .section2__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section2 .section2__text h6 {
    font-size: 14px;
  }
}

main .section2 .dot {
  width: 67px;
  height: 67px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: -22px;
  z-index: -1;
}

main .section2 .section2__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .section2 .section2__icons--icon {
  margin-top: 29px;
  width: 44px;
  line-height: 17px;
}

@media (min-width: 768px) {
  main .section2 .section2__icons--icon {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main h2.section3__header--h2 {
  margin-top: 53px;
  margin-left: 28px;
}

main .section3 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 840px) {
  main .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  main .section3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .section3 .section3__header {
  margin-top: 20px;
}

main .section3 .section3__img {
  margin-top: 30px;
}

main .section3 .section3__text {
  margin-top: 15px;
  margin-left: 15px;
}

main .section3 .section3__text h2 {
  color: #484848;
}

main .section3 .section3__text h6 {
  color: #777777;
  margin: 10px;
}

main .section3 .dot {
  width: 97px;
  height: 97px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main h2.section4__header--h2 {
  margin-top: 30px;
  margin-left: 28px;
  line-height: 1.1;
}

main .section4 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 840px) {
  main .section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  main .section4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .section4 .section4__header {
  margin-top: 20px;
}

main .section4 .section4__img {
  padding: 10px;
}

main .section4 .section4__text {
  margin-top: 15px;
  margin-left: 15px;
}

main .section4 .section4__text h2 {
  color: #484848;
}

main .section4 .section4__text h6 {
  color: #777777;
  margin: 10px;
}

main .section4 .dot {
  width: 68px;
  height: 68px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .section5 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .section5 .section5__img {
  padding: 24px;
}

main .section5 .section5__text {
  margin-top: 44px;
  margin-left: 66px;
  text-align: center;
  width: 50%;
}

main .section5 .section5__text h4 {
  color: #fff;
  line-height: 1.4;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main h2.section6__header--h2 {
  margin-top: 53px;
  margin-left: 28px;
  font-size: 1.7rem;
  line-height: 1.5;
}

main .section6__ul {
  height: 210px;
}

main .section6__ul__il {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section6__ul__p {
  font-size: 12px;
  margin-top: -10px;
}

main .section6 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 840px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .section6 .section6__header {
  margin-top: -7px;
}

main .section6 span {
  background-color: #FFDD8A;
  display: inline-block;
  margin-right: 16px;
  width: 11px;
  height: 3px;
}

main .section6 .section6__img {
  margin-top: 15px;
}

main .section6 .section6__img img {
  height: 148px;
  margin-left: 24px;
}

main .section6 .section6__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 34px;
}

main .section6 .section6__text h2 {
  color: #484848;
}

main .section6 .section6__text h6 {
  color: #777777;
  margin: 10px;
}

main .section6 .section6__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

main .section6 .section6__text .section6__ul--yellowdashed {
  margin-top: 48px;
}

main .section6 .dot {
  width: 97px;
  height: 97px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: 20px;
  z-index: -1;
}

main .section6 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 30px;
}

body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer {
  background-color: #55C1AE;
  height: 516px;
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
  color: white;
}

.footer .footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.footer .footer__logo {
  margin-top: 30px;
  margin-bottom: 36px;
  width: 88px;
}

.footer .footer___logo__img {
  width: 88px;
}

.footer .footer__list {
  font-size: 12px;
  margin-bottom: 76px;
}

.footer .footer__list--bold {
  font-size: 16px;
  font-weight: bold;
}

.footer .footer__copyright {
  font-size: 12px;
}

.footer p.footer__copyright {
  margin-top: 44px;
}

.footer .footer__list__ul {
  margin-bottom: 50px;
}
/*# sourceMappingURL=main.css.map */