@import 'theme';
main{
    h2.section6__header--h2 {
        margin-top: 53px;
        margin-left: 28px;
        font-size: 1.7rem;
        line-height: 1.5;
    }
    .section6 {
        padding: $padding;
        margin: 1em auto;
        display:flex;
        flex-direction: column;
        height:667px;
        position: relative;

        @include desktop {
            display:flex;
            flex-direction: column;
        }
        @include tablet {
            display:flex;
            flex-direction: column;
        }
        span {
            color: blue;
            margin-right: 20px;
        }
        .section6__img {
            margin-top: 30px;
        }
        .section6__text {
            margin-top:15px;
            margin-left:15px;
            display: flex;
            justify-content: center;
            h2{
                color:color(grey1);
            }
            h6 {
                color:color(grey2);
                margin: 10px;
            }
            ul {
                display:flex;
                flex-direction: column;
            }
        }
        .dot {
            width: 97px;
            height: 97px;
            background-color: #FFDD8A;
            border-radius: 50%;
            position: absolute;
            margin-top: 20px;
            z-index: -1;
        } 
        
    }    
    
}
