body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 375px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 768px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1900px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

main .section5 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  main .section5 {
    height: 512px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  main .section5 .section5__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 34px;
  }
}

main .section5 .section5__img {
  padding: 24px;
}

@media (min-width: 768px) {
  main .section5 .section5__img {
    width: 570px;
    height: 226px;
  }
}

main .section5 .section5__backgroundimg {
  background: url("../assets/img/section5img.svg");
  background-repeat: no-repeat;
  height: 422px;
}

@media (min-width: 768px) {
  main .section5 .section5__backgroundimg {
    background: url("../assets/img/section5img_tablet.svg");
    background-repeat: no-repeat;
  }
}

main .section5 .section5__text {
  margin-top: 100px;
  margin-left: 66px;
  text-align: center;
  width: 50%;
}

main .section5 .section5__text h4 {
  color: #fff;
  line-height: 1.4;
}

@media (min-width: 768px) {
  main .section5 .section5__text h4 {
    font-size: 26px;
  }
}

@media (min-width: 768px) {
  main .section5 .section5__text {
    margin-top: 0px;
    margin-left: 0px;
    width: 300px;
    margin-bottom: 8px;
  }
}
/*# sourceMappingURL=section5.css.map */