body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2500px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1900px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2424px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

main .section1__container {
  padding: 10px;
}

main .section1 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 587px;
}

@media (min-width: 768px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 432px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 110px;
  }
}

@media (min-width: 1024px) {
  main .section1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 600px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

main .section1 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

main .section1 .section1__text {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  main .section1 .section1__text {
    grid-area: section;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    text-align: center;
    margin: 1em;
  }
}

main .section1 .section1__text h1 {
  color: #484848;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 18px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h1 {
    color: #484848;
    font-size: 2rem;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__text h1 {
    font-size: 38px;
  }
}

main .section1 .section1__text h6 {
  color: #777777;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  main .section1 .section1__text h6 {
    font-size: 0.9rem;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__text h6 {
    font-size: 1.2rem;
  }
}

main .section1 .section1__text p {
  color: white;
}

main .section1 .section1__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
}

main .section1 .section1__img img {
  height: 210px;
}

@media (min-width: 768px) {
  main .section1 .section1__img img {
    height: 286px;
  }
}

@media (min-width: 1024px) {
  main .section1 .section1__img img {
    height: 370px;
  }
}
/*# sourceMappingURL=section1.css.map */