@import 'theme';
main{
    h2.section6__header--h2 {
        margin-top: 53px;
        margin-left: 28px;
        font-size: $h2;
        line-height: 1.5;
        @include desktop {
            margin-left: 54px;
        }
    }
    .section6__ul {
        height: 210px;
        @include desktop {
            height: 200px;
        }
    }
    .section6__ul__il {
        display: flex;
        @include desktop {
            margin-bottom: 14px;
        }
    }
    .section6__ul__p {
        font-size:12px;
        margin-top: -10px;
        @include desktop {
            color: color(grey2);
        }
    }
    .section6 {
        padding: $padding;
        display:flex;
        flex-direction: column;
        height:667px;
        position: relative;
        @include tablet {
            display:flex;
            flex-direction: column;
            height:512px;
            justify-content: center;
            align-items: center;
        }
        @include desktop {
            display:flex;
            flex-direction: column;
            height: 600px;
        }
        .section6__div {
            @include tablet {
                margin-top: -10px;
            }
        }
        .section6__header {
            margin-top: -7px;
            @include desktop {
                width: 320px;
                text-align: center;
            }
        }
        span {
            background-color:color(yellow);
            display: inline-block;
            margin-right: 16px;
            width: 11px;
            height: 3px;
        }
        .section6__img {
            margin-top: 15px;
            @include desktop {
                margin-top: 0px;
            }
            img{
                height: 148px;
                margin-left: 24px;
                @include tablet {
                    height: 206px;
                    margin-top: 30px;
                    margin-left: 0;
                }
                @include desktop {
                    height: 268px;
                    margin-top: 30px;
                    margin-left: 0;
                }
            }
        }
        .section6__text {
            display: flex;
            justify-content: center;
            margin-bottom:20px;
            @include desktop {
                margin-left: -50px;
            }
            h2{
                color:color(grey1);
            }
            h6 {
                color:color(grey2);
                margin: 10px;
                @include tablet{
                    color:color(grey2);
                    line-height: 1.4;
                    font-size: 14px;
                    margin-bottom: 18px;
                    // margin-left:28px;
                }
                @include desktop{
                    color:color(grey2);
                    line-height: 1.4;
                    font-size: $h5;
                    margin-bottom: 18px;
                }
            }
            ul {
                display:flex;
                flex-direction: column;
                font-size:  12px;
            }
            
            .section6__ul--yellowdashed {
                margin-top: 48px;
            }
        }
        .section6__ul--yellowdashed {
            @include tablet {
                margin-left: 40px;
            }
        }
        .section6__column {
            @include tablet {
                display: flex;
                justify-content: space-around;
                align-items: center;
            }
        }
        .section6_button {
            display: flex;
            justify-content: center;
            align-items: center;
            @include tablet {
                margin-left: 40px;
            }
        }
        .dot {
            width: 97px;
            height: 97px;
            background-color: #FFDD8A;
            border-radius: 50%;
            position: absolute;
            margin-top: 5px;
            z-index: -1;
            @include tablet {
                width: 97px;
                height: 97px;
                background-color: #FFDD8A;
                border-radius: 50%;
                position: absolute;
                margin-top: -50px;
                z-index: -1;
            }
            @include desktop {
                width: 92px;
                height: 92px;
            }
        } 
        .btn {
            background-color: color(accent);
            border-radius:30px;
            padding: 10px 30px;
            @include tablet {
                margin-top: 26px;
                width: 244px;
            }
        }
        
    }    
    
}
