body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1908px;
    width: 700px;
    height: 700px;
    margin-left: 39px;
  }
}

@media (min-width: 1024px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2424px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

main h2.section2__header--h2 {
  margin-top: 18px;
  margin-left: 24px;
}

@media (min-width: 768px) {
  main h2.section2__header--h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  main h2.section2__header--h2 {
    font-size: 30px;
  }
}

main .section2 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 768px) {
  main .section2 {
    height: 472px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1024px) {
  main .section2 {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__headergroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 310px;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__headergroup {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 405px;
  }
}

main .section2 .section2__img {
  margin-top: 10px;
  padding: 14px;
}

@media (min-width: 768px) {
  main .section2 .section2__img {
    margin-top: 0;
    width: 314px;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__img {
    margin-top: 0;
    width: 450px;
    padding: 0;
  }
}

main .section2 .section2__text {
  margin-top: 14px;
}

@media (min-width: 768px) {
  main .section2 .section2__text {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

main .section2 .section2__text h2 {
  color: #484848;
}

@media (min-width: 768px) {
  main .section2 .section2__text h2 {
    font-size: 24px;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text h2 {
    font-size: 28px;
  }
}

main .section2 .section2__text h6 {
  color: #777777;
  margin: 10px;
}

@media (min-width: 768px) {
  main .section2 .section2__text h6 {
    font-size: 14px;
    line-height: 1.4;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text h6 {
    font-size: 16px;
    line-height: 1.4;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__text__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1024px) {
  main .section2 .section2__text__ul {
    margin-left: 14px;
  }
}

main .section2 .dot {
  width: 67px;
  height: 67px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: -22px;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section2 .dot {
    width: 56px;
    height: 56px;
  }
}

main .section2 .section2__ul {
  display: none;
}

@media (min-width: 768px) {
  main .section2 .section2__ul {
    display: block;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul ul {
    margin-bottom: 20px;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul h6 {
    color: #484848;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__ul p {
    color: #777777;
    margin: 0;
    font-size: 12px;
  }
}

main .section2 .section2__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) {
  main .section2 .section2__icons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 258px;
    margin-top: 10px;
  }
}

main .section2 .section2__icons--icon {
  margin-top: 29px;
  width: 44px;
  line-height: 17px;
}

@media (min-width: 768px) {
  main .section2 .section2__icons--icon {
    margin: 10px 24px 26px 0;
  }
  main .section2 .section2__icons--icon .fa-3x {
    font-size: 2em;
    color: #484848;
  }
}

@media (min-width: 768px) and (min-width: 1024px) {
  main .section2 .section2__icons--icon {
    margin: 0px 24px 72px 0;
  }
}

@media (min-width: 768px) {
  main .section2 .section2__icons--icon p {
    display: none;
  }
}
/*# sourceMappingURL=section2.css.map */