@import 'theme';

main {
    .section5 {
        padding: $padding;
        display:flex;
        flex-direction: column;
        height:667px;
        position: relative;
        justify-content: center;
        .section5__img {
            padding:24px;
        }
        .section5__text {
            margin-top: 44px;
            margin-left: 66px;
            text-align: center;
            width: 50%;
            h4{
                color: #fff;
                line-height: 1.4;
            }
        }
        
    }
}
