@import 'theme';

main {
    .section1__container {
        padding:10px;
    }
    .section1 {
        padding: $padding;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        height: 587px;

        @include desktop {
            flex-direction: row;
        }
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            height: 432px;
            align-items: center;
        }
        .btn {
            background-color: color(accent);
            border-radius:30px;
            padding: 10px 40px;
        }
        .section1__text{
            margin-bottom: 50px;
            // @include desktop {
            //     grid-area: section;
            //     height: fit-content;
            //     align-self: left;
            //     margin: 1em;
            // }
            text-align: center;
            // border: 1px solid black;
            // height: 587px;
             @include tablet {
                grid-area: section;
                height: fit-content;
                text-align:center;
                margin: 1em;
            }
            
            h1 {
                color:color(grey1);
                font-size:38px;
                font-weight: bold;
                margin-bottom: 18px;
                @include tablet{
                    font-size: 2rem;
                }
            }
            h6 {
                color:color(grey2);
                margin-bottom: 20px;
                @include tablet{
                    font-size: 0.9rem;
                }
            }
            p {
                color:white;
            }
        }
        .section1__img{   
             
            display:flex;
            justify-content: center;
            margin:0;

            // @include desktop {
            //     grid-area: card;
            //     height: fit-content;
            //     // align-self: right;
            //     width:528px;
            //     margin: 1em;
            // }
            
            img {
                height: 210px;
                // @include desktop {
                //     height: 400px;
                // }
                @include tablet {
                    height: 17rem;
                }

            }
        }
    }
}
