@import 'theme';

main {
    .section1__container {
        padding:10px;
    }
    .section1 {
        padding: $padding;
        display:flex;
        justify-content: space-around;
        flex-direction: column;
        height: 587px;        
        @include tablet {
            flex-direction: row;
            justify-content: space-around;
            height: 432px;
            align-items: center;
            padding-bottom: 110px;
        }
        @include desktop {
            flex-direction: row;
            height: 600px;
            align-items: center;
            justify-content: space-around;
        }
        .btn {
            background-color: color(accent);
            border-radius:30px;
            padding: 10px 40px;
        }
        .section1__text {
            margin-bottom: 50px;
            text-align: center;
             @include tablet {
                grid-area: section;
                height: fit-content;
                text-align:center;
                margin: 1em;
            }
            h1 {
                color:color(grey1);
                font-size:38px;
                font-weight: bold;
                margin-bottom: 18px;
                @include tablet {
                    color:color(grey1);
                    font-size: 2rem;
                }
                @include desktop {
                    font-size: 38px;
                }
            }
            h6 {
                color:color(grey2);
                margin-bottom: 20px;
                @include tablet {
                    font-size: 0.9rem;
                }
                @include desktop {
                    font-size: 1.2rem;
                }
            }
            p {
                color:white;
            }
        }
        .section1__img {   
            display:flex;
            justify-content: center;
            margin:0;
            img {
                height: 210px;
                @include tablet {
                    height: 286px;
                }
                @include desktop {
                    height: 370px;
                }
                @include desktopLarge {
                    height: 370px;
                }
            }   
        }
    }
}
