body, html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

body a {
  text-decoration: none;
  color: white;
}

body ul, body li {
  list-style-type: none;
  padding: 0;
}

body .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 40px;
}

body .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -10;
}

body #bg1 {
  position: absolute;
}

@media (min-width: 768px) {
  body #bg1 {
    margin-left: 262px;
  }
}

@media (min-width: 1024px) {
  body #bg1 {
    margin-left: 270px;
  }
}

@media (min-width: 1440px) {
  body #bg1 {
    margin-left: 560px;
  }
}

body #bg2 {
  position: absolute;
  top: 667px;
}

@media (min-width: 768px) {
  body #bg2 {
    display: none;
  }
}

body #bg3 {
  position: absolute;
  top: 1334px;
}

@media (min-width: 768px) {
  body #bg3 {
    display: none;
  }
}

body #bg3-1 {
  position: absolute;
  top: 1936px;
}

@media (min-width: 768px) {
  body #bg3-1 {
    display: none;
  }
}

body #bg5 {
  position: absolute;
  top: 2668px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background: url("../assets/img/mobile_section5img.svg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 768px;
  height: 696px;
}

@media (min-width: 768px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2008px;
    width: 100%;
    max-width: 1024px;
    height: 691px;
  }
}

@media (min-width: 1024px) {
  body #bg5 {
    background: url("../assets/img/tablet_section5img.svg");
    background-repeat: no-repeat;
    position: absolute;
    top: 2456px;
    width: 100%;
    max-width: 1440px;
    height: 691px;
  }
}

body #bg5-1 {
  display: none;
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 1900px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

@media (min-width: 768px) {
  body #bg5-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 2424px;
    width: 700px;
    height: 700px;
    margin-left: 53px;
  }
}

main h2.section6__header--h2 {
  margin-top: 53px;
  margin-left: 28px;
  font-size: 28px;
  line-height: 1.5;
}

main .section6__ul {
  height: 210px;
}

main .section6__ul__il {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section6__ul__p {
  font-size: 12px;
  margin-top: -10px;
}

main .section6 {
  padding: 25px 45px 25px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 667px;
  position: relative;
}

@media (min-width: 1024px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768px) {
  main .section6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 512px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  main .section6 .section6__div {
    margin-top: -10px;
  }
}

main .section6 .section6__header {
  margin-top: -7px;
}

main .section6 span {
  background-color: #FFDD8A;
  display: inline-block;
  margin-right: 16px;
  width: 11px;
  height: 3px;
}

main .section6 .section6__img {
  margin-top: 15px;
}

main .section6 .section6__img img {
  height: 148px;
  margin-left: 24px;
}

@media (min-width: 768px) {
  main .section6 .section6__img img {
    height: 206px;
    margin-top: 30px;
    margin-left: 0;
  }
}

main .section6 .section6__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

main .section6 .section6__text h2 {
  color: #484848;
}

main .section6 .section6__text h6 {
  color: #777777;
  margin: 10px;
}

main .section6 .section6__text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

main .section6 .section6__text .section6__ul--yellowdashed {
  margin-top: 48px;
}

@media (min-width: 768px) {
  main .section6 .section6__ul--yellowdashed {
    margin-left: 40px;
  }
}

@media (min-width: 768px) {
  main .section6 .section6__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .section6 .section6_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 768px) {
  main .section6 .section6_button {
    margin-left: 40px;
  }
}

main .section6 .dot {
  width: 97px;
  height: 97px;
  background-color: #FFDD8A;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  z-index: -1;
}

@media (min-width: 768px) {
  main .section6 .dot {
    width: 97px;
    height: 97px;
    background-color: #FFDD8A;
    border-radius: 50%;
    position: absolute;
    margin-top: -50px;
    z-index: -1;
  }
}

main .section6 .btn {
  background-color: #FC5C71;
  border-radius: 30px;
  padding: 10px 30px;
}

@media (min-width: 768px) {
  main .section6 .btn {
    margin-top: 26px;
    width: 244px;
  }
}
/*# sourceMappingURL=section6.css.map */