@import 'theme';

main {
    .section5 {
        padding: $padding;
        display:flex;
        flex-direction: column;
        height:667px;
        position: relative;
        justify-content: center;
        @include tablet {
            height:512px;
            align-items: center;
        }
        .section5__ul {
            @include tablet {
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-bottom: 34px;
            }
        }
        .section5__img {
            padding:24px;
            @include tablet {
                width: 570px;
                height: 226px;
            }
        }
        .section5__backgroundimg {
            background: url('../assets/img/section5img.svg');
            background-repeat: no-repeat;
            height: 422px;
            @include tablet {
                background: url('../assets/img/section5img_tablet.svg');
                background-repeat: no-repeat;
            }
        }
        .section5__text {
            margin-top: 100px;
            margin-left: 66px;
            text-align: center;
            width: 50%;
            h4{
                color: #fff;
                line-height: 1.4;
                @include tablet {
                    font-size: 26px;
                }
            }
            @include tablet {
                margin-top: 0px;
                margin-left: 0px;
                width: 300px;
                margin-bottom: 8px;
            }
        }
        
    }
}
